.bg-nav {
    background-color: #111;
    height: 80px;
    border-bottom: 2px solid #1a1a1a;
}

.color-nav {
    color: #f9f9f9;
}

.bg-nav-bis {
    background-color: #1f1f1f !important;
}

.btn-nav-red {
    height: 50px;
    background-color: #282828 !important;
}

.svg-icon {
    width: 24px !important;
    height: 24px !important;
}

.part {
    flex: 1;
    /* border:1px solid white; */
    transition: 0.7s;
}

.part:hover{
    transform: scale(1.03);
}

h1 {
    font-size: 3.3rem !important;
}

.explications {
    background-color: #0a1428;
}

.titre-jeu {
    color: #ffdd94;
    text-shadow: #fcde79 0px 0px 9px;

}

.actu-main {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* ************************************************************BOUTONS NAV************************************************************** */

.hover-nav-bot:hover {
    border-bottom: 3px solid #ae3815;
    border-radius: 1px;
}

.hover-nav-bot:hover .hover-nav {
    background-color: #333333;
    color: #c9ab68;
}

.hover-min:hover {
    background-color: #333333;
}

.btn-jouer {
    background-color: #ae3815;
}

.grab-cursor {
    cursor: pointer;
}

.grab-cursor:hover {
    cursor: grab; 
    transform: scale(1.2);
    transition: transform 0.3s;
}

.grab-cursor:active {
    cursor: grabbing;
}


/* ************************************************************FIN BOUTONS NAV************************************************************** */

/* ************************************************************BOUTON TÉLECHARGER ************************************************************** */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -1;
}

#background-video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1; 
    text-align: center;
    color: white; 
}


.h-dl {
    margin-top: 250px;
}

.btn-dl {
    outline: 1px solid white;
    outline-offset: 4px;
    padding: 15px 30px 15px 30px;
    color: black;
    background-color: #c8aa6e;
}

.btn-dl:hover {
    background-color: #d3bb8b;
    transition-duration: 0.6s;
}

.btn-dl2 {
    padding: 15px 30px 15px 30px;
    color: black;
    background-color: #c8aa6e;
}

.btn-dl2:hover {
    background-color: #d3bb8b;
    transition-duration: 0.6s;
}

/* ************************************************************FIN BOUTON TÉLECHARGER************************************************************** */


/* ************************************************************DÉBUT ACTUS A L'AFFICHE************************************************************** */

.actu-affiche {
    margin-left: 5%;
    margin-right: 5%;
}

#actualites {
    background-image: url('https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/4c59eeaf4adc540fd42745bd5c71563fba8f6288-3840x1328.png?auto=format&fit=fill&q=80&w=1920');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-actu {
    transition: transform 0.5s ease;
}
.img-actu:hover {
    transform: scale(1.2);
    z-index: 1;
}

.type-actu {
    color: #c8aa6e;
}

.info-actu {
    font-size: smaller;
}

.pointer {
    cursor: pointer;
}

/* ************************************************************FIN ACTUS A L'AFFICHE************************************************************** */


/* ************************************************************DÉBUT PRÉSENTATION JEU************************************************************** */

.video-presentation {
    width: 100%;
    max-width: 600px; 
    aspect-ratio: 1 / 1;
    outline: 1px solid #c8aa6e;
    outline-offset: 10px;
    border-radius: 50%;
    object-fit: cover;
}
  

/* ************************************************************FIN PRÉSENTATION JEU************************************************************** */


/* ************************************************************DEBUT FOOTER************************************************************** */

#btn-res {
    color: white;
    display: flex;
    justify-content: center;
}

.bouton {
    display: inline-block;
	color: white;
	background-color: rgb(24, 24, 24);
	opacity: 90%;
	margin: 20px;
	font-size: 22px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 43px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bouton:hover{
	transform: scale(0.95);
    transition-duration: 0.2s;
	box-shadow: none;
}

.bouton:active{
	transform: scale(0.85);
    transition-duration: 0.09s;
	box-shadow: none;
}

#twitter:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #000000 4%, #000000 30%, #000000 62%, #000000 85%, #000000);
	transition-duration: 0.3s;
}

/* #insta:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
	transition-duration: 0.3s;
} */

#discord:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #5865f2 4%, #5865f2 30%, #5865f2 62%, #5865f2 85%, #5865f2);
	transition-duration: 0.3s;
}

#github:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #010409 4%, #010409 30%, #010409 62%, #010409 85%, #010409);
	transition-duration: 0.3s;
}

#youtube:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #ff0000 4%, #ff0000 30%, #ff0000 62%, #ff0000 85%, #ff0000);
	transition-duration: 0.3s;
}


/* ************************************************************FIN FOOTER************************************************************** */


/* ************************************************************DEBUT BALISES************************************************************** */

.balise {
    cursor: pointer;
    opacity: 0.5;
}

.balise.selected {
    opacity: 1;
}

/* .balise:hover {
    transform: scale(1.07);
    transition-duration: 0.5s;
    box-shadow: none;
}

.balise:active{
	transform: scale(1);
    transition-duration: 0.1s;
	box-shadow: none;
} */




/* ************************************************************FIN BALISES************************************************************** */