.bg-nav {
    background-color: #111111;
    height: 80px;
    border-bottom: 2px solid #1a1a1a;
}

.color-nav {
    color: #f9f9f9;
}

.bg-nav-bis {
    background-color: #1f1f1f !important;
}

.btn-nav-red {
    height: 50px;
    background-color: #282828 !important;
}

.svg-icon {
    width: 24px !important;
    height: 24px !important;
}

.part {
    flex: 1;
    /* border:1px solid white; */
    transition: 0.7s;
}

.part:hover{
    transform: scale(1.03);
}

/* ************************************************************BOUTONS NAV************************************************************** */

.hover-nav-bot:hover {
    border-bottom: 3px solid #00a0ba;
    border-radius: 1px;
}

.hover-nav-bot:hover .hover-nav {
    background-color: #333333;
    color: #c9ab68;
}

.hover-min:hover {
    background-color: #333333;
}

.btn-jouer {
    background-color: #00a0ba;
}

/* ************************************************************FIN BOUTONS NAV************************************************************** */

/* ************************************************************BOUTON TÉLECHARGER ************************************************************** */

.btn-dl {
    outline: 1px solid white;
    outline-offset: 4px;
    padding: 15px 30px 15px 30px;
    color: black;
    background-color: #c8aa6e;
}

.btn-dl:hover {
    background-color: #d3bb8b;
    transition-duration: 0.3s;
}

/* ************************************************************FIN BOUTON TÉLECHARGER************************************************************** */



/* ************************************************************DEBUT FOOTER************************************************************** */

#btn-res {
    border: px solid red;
    color: white;
    display: flex;
    justify-content: center;
}

.bouton {
    display: inline-block;
	color: white;
	background-color: rgb(24, 24, 24);
	opacity: 90%;
	margin: 20px;
	font-size: 22px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 43px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bouton:hover{
	transform: scale(0.95);
    transition-duration: 0.2s;
	box-shadow: none;
}

.bouton:active{
	transform: scale(0.85);
    transition-duration: 0.09s;
	box-shadow: none;
}

#twitter:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #000000 4%, #000000 30%, #000000 62%, #000000 85%, #000000);
	transition-duration: 0.3s;
}

/* #insta:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
	transition-duration: 0.3s;
} */

#discord:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #5865f2 4%, #5865f2 30%, #5865f2 62%, #5865f2 85%, #5865f2);
	transition-duration: 0.3s;
}

#github:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #010409 4%, #010409 30%, #010409 62%, #010409 85%, #010409);
	transition-duration: 0.3s;
}

#youtube:hover {
    color: white;
	background: radial-gradient(circle at 33% 100%, #ff0000 4%, #ff0000 30%, #ff0000 62%, #ff0000 85%, #ff0000);
	transition-duration: 0.3s;
}


/* ************************************************************FIN FOOTER************************************************************** */